body {
  font-family: 'Segoe UI', sans-serif;
  background: #0d0d0d;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: #1a1a1a;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00ffff40;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

h1 {
  color: #00ffff;
  text-align: center;
  margin-bottom: 20px;
}

label {
  color: #ccc;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 15px;
  border-radius: 6px;
  border: none;
  box-sizing: border-box;
}

input {
  background: #ffffff;
  color: #00000fff;
}

input:focus {
  outline: 2px solid #00ffff;
}

button {
  background: #00ffff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #00cccc;
}

.hasil {
  color: #ffffff;
  font-size: 15px;
  margin-top: 10px;
}

h2 {
  color: #eee;
  text-align: center;
  font-size: 16px;
  margin: 10px 0;
}

.warning {
  color: red;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}
